<html>
{% load static %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>View List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/bag.css' %}">
    </head>
    <body>
        <div class="container mt-5">
            <!-- top -->
            <div class="row">
                <div class="col-lg-6">
                    <h1>View Grocery List</h1>
                </div>
                <div class="col-lg-6 float-right">
                    <form method="POST" action="{% url 'search-by-date' %}">
                      {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Date Filtering-->
                            <input type="date" class="form-control" name="purchase_date" required>
                        </div>
                        <div class="col-lg-4">
                            <input type="submit" class="btn btn-danger" value="filter">
                        </div>
                    </div>

                  </form>
                </div>
            </div>
            <div class="container row">
              <a href="{% url 'create' %}">Add Item</a>
            </div>
            <!-- // top -->
            <!-- Grocery Cards -->
            <div class="row mt-4">

                <!-- // Loop -->
                {% for bag in bags %}
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{bag.item_name}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{bag.item_quantity}} Pcs.</h6>
                          <p class="text-danger">{{bag.item_status}}</p>
                          <p class="text-danger">{{bag.purchase_date}}</p>
                          <div class="row">
                            <div class="col-sm-6">
                              <a href="{% url 'update' pk=bag.pk %}">Update</a>
                            </div>
                            <div class="col-sm-6">
                              <a href="{% url 'delete' pk=bag.pk %}">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </body>
</html>
